
.footer {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px 20px;
  text-align: center;
  color: #333;


}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  flex: 1;
  margin: 10px;
  max-width: 300px;
  text-align: left;
}


.email {
  display: block;
  color: #0987f2;
  margin-bottom: 20px;
  text-decoration: none;
}

.socialIcons {
  display: flex;
  justify-content: flex-start;
}

.icon {
  width: 30px;
  height: 30px;
  border: 1px solid #0987f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  text-decoration: none;
  color: #0987f2;
}

.emailInput {
  padding: 10px;
  width: 92.5%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.subscribeButton {
  padding: 10px 10px;
  width: 100%;

  background: #0987f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footerBottom {
  margin-top: 40px;
  font-size: 0.9em;
  color: #999;
}

.footerBottom span {
  color: #ba79e6;
}
.hr{
  width: 80%;
  background-color: gray;
  height: 1.5px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .section {
    max-width: 100%;
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
  }

  .emailInput {
    width: 92.5%;
  }
}
