.navbar{
    background: rgba(255, 255, 255, 0.25); /* Background color with transparency */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    border-radius: 10px; /* Optional: Add rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: Add a border with transparency */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Optional: Add a shadow effect */
  }
  nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
}

 a:hover {
  /* cursor: pointer; */
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  /* text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181); */

}
  