.footer-container {
    background-color: rgb(245, 245, 245);
  }
  
  .footer-container h2 {
    font-size: 2rem;
  }
  
  .footer-container .lead {
    font-size: 1.2rem;
  }
  
  .footer-container p {
    margin-bottom: 0.5rem;
  }
  
  .footer-container .text-muted {
    font-size: 0.9rem;
  }
  