#home {
  background: url("https://res.cloudinary.com/dcl67luxn/image/upload/v1543874348/Web_1920_1.svg")
    no-repeat;
  background-size: cover;
}

.name {
  font-size: 3rem;
}

/* Adjustments for mobile screens */
@media (max-width: 576px) {
  .name {
    font-size: 2rem;
    margin-left: 0;
  }
  .name-about {
    font-size: 1.5rem;
  }
  .fs-1 a {
    font-size: 1.5rem;
    margin: 0 5px;
  }
  .btn-lg {
    font-size: 1.5rem;
  }
}

/* Adjustments for tablet screens */
@media (min-width: 577px) and (max-width: 992px) {
  .name {
    font-size: 2.5rem;
  }
  .name-about {
    font-size: 2rem;
  }
  .fs-1 a {
    font-size: 2rem;
    margin: 0 10px;
  }
  .btn-lg {
    font-size: 2rem;
  }
}

.projects-heading {
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 16px;
}
