/* Global styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 20px;
}

/* Left section styles */
.left-side {
  background-color: #e4d8d8b9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-summary {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.profile-summary p {
  line-height: 1.6;
  color: #333333;
}

/* Right section styles */
.right {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.resume-header h1 {
  text-align: center;
  font-size: 44px;
  margin-bottom: 10px;
  color: #333333;
}

.resume-header-links ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.resume-header-links li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  color: #333333;
}

.resume-header-links li:hover {
  cursor: pointer;
  color: blue;
}

.professional-summary h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333;
}

.professional-summary p {
  line-height: 1.6;
  color: #333333;
}

.project-item {
  margin-bottom: 20px;
}

.project-title a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
}

.education-item {
  margin-bottom: 20px;
}

.education-title h5 span {
  color: #333333;
}

.skills p mark {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(166, 95, 233, 0.537);
}

.skills p strong {
  font-size: 16px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .profile img {
    width: 150px;
    height: 150px;
  }

  .resume-header h1 {
    font-size: 36px;
  }

  .resume-header-links li {
    font-size: 14px;
  }

  .professional-summary h3 {
    font-size: 18px;
  }

  .project-title a {
    font-size: 18px;
  }

  .education-title h5 {
    font-size: 18px;
  }

  .skills p strong {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .profile img {
    width: 120px;
    height: 120px;
  }

  .resume-header h1 {
    font-size: 28px;
  }

  .resume-header-links li {
    font-size: 12px;
  }

  .professional-summary h3 {
    font-size: 16px;
  }

  .project-title a {
    font-size: 16px;
  }

  .education-title h5 {
    font-size: 16px;
  }

  .skills p strong {
    font-size: 12px;
  }
}
